body {
    font-family: cursive;
    margin: 0;
    padding: 20px;
    background: #d8d6d6;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}


.galery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}


.galery img {
    width: 100%;
    height: 95%;
    object-fit: cover;
    border-radius: 50px;
}
